version: '3.8'

services:
  server:
    build: .
    ports:
      - '8000:8000'
    develop:
      # we specify the files to watch for changes
      watch:
        # it'll watch for changes in package.json and package-lock.json and rebuild the container if there are any changes
        - path: ./package.json
          action: rebuild
        - path: ./package-lock.json
          action: rebuild
        # it'll watch for changes in the frontend directory and sync the changes with the container real time
        - path: .
          target: /app
          action: sync
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev
